.basic-text {
    padding: 0 3rem 0 7rem;
    margin: 6.5rem 0;

    /*@media screen and (min-width: 768px) {*/
        /*padding: 6.5rem 28.4rem;*/
    /*}*/

    @media screen and (min-width: 768px) {
        /*padding: 4.992vw 21.8112vw;*/
        padding: 0 0 0 20%;
        margin: 4.51388vw 0;
    }

    @media screen and (min-width: 1920px) {
        /* padding: 9.58464rem 41.8775rem; */
        margin: 9.58464rem 0;
    }
}

.basic-text__inner {
    max-width: 66rem;

    @media screen and (min-width: 768px) {
        max-width: 60vw;
    }

    @media screen and (min-width: 1920px) {
        max-width: 115.2rem;
    }
}

.basic-text__inner[data-columns="2"] {
    @media screen and (min-width: 768px) {
        max-width: 61.8vw;
    }

    @media screen and (min-width: 1920px) {
        max-width: 118.656rem;
    }
}

.basic-text__columns {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
    }
}

.basic-text__column[data-columns="2"] {
    flex: 0 0 50%;
    margin-bottom: 1.5em;
}

.basic-text__column[data-columns="2"]:last-child {
    margin-bottom: 0;
}

.basic-text h3 {

}

.basic-text p {
    @mixin basicP;
}